{% extends "originalauthLayout.html" %}
{% block title %}
登录首页
{% endblock %}

{% block body %}
<div class="container">
    <h1>Web聊天软件</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="username" class="text-left">帐号：</label>
        <input id="regname" name="username" value="" type="text" required/>
        <div class="hide" id="validuser"></div>


        <label for="password" class="text-left">密码：</label>
        <input id="regpassword" name="password" value="" type="password" required/>

        <label for="repassword" class="text-left">重覆密码：</label>
        <input id="reregpassword" name="repassword" value="" type="password" required/>
        <div class="hide" id="validpwd"></div>

        <label for="name" class="text-left">名称：</label>
        <input id="name" name="name" value="" type="text" required/>

        <label for="personalpic" class="text-left">个人头像：</label>
        <input id="personalpic" name="personalpic" value="" type="file" accept="image/jpeg,image/png,image/jpg,image/bmp" single required/>

        <input id="submit" type="submit" value="注册" disabled>
    </form>
    <div class="alink">
        <a href="{{ url_for('login') }}">已有帐号？点此登录</a>
    </div>
</div>
{% endblock %}